.editbox {
  padding: .4em;
  margin: 0;
  font-family: consolas, monospace;
  font-size: 12pt;
  line-height: 1.1em;
  color: black;
}



pre.code, .editbox .rb-
  color: #666666;
}

.editbox  {
  margin: 0;
}




.editbox {
background-color:#000000;
color:#F8F8F8;
}
.editbox .rb-linenum {
background-color:#EEEEEE;
color:#888888;
padding:0.1em 1em 0.2em 0;
width:75px;
}
.editbox .rb-pan {
padding-bottom:0.1em;
padding-top:0.2em;
}
.editbox .rb-comment {
  color:#AEAEAE;
  font-style:italic;
}
.editbox .rb-symbol, .editbox .rb-fixnum, .editbox .rb-ascii {
  color:#6FB1FF;
}

.editbox .rb-hexnum, .editbox .rb-binary {
  color:#DFC745;
}

.editbox .rb-float {
  color:#7FDF61;
}


.editbox .rb-entity {
color:#89BDFF;
}
.editbox .rb-keyword {
color:#CE864B;
}
.editbox .rb-storage {
color:#99CF50;
}
.editbox .rb-string, .rb-heredoc {
color:#65B042;
}
.editbox .rb-constant {
color:#9B859D;
}
.editbox .rb-instance-var {
color:#61B2DF;
}
.editbox .rb-class-var {
color:#8BC9DF;
}

.editbox .rb-string .constant {
color:#DDF2A4;
}



.editbox .rb-string_regexp {
color:#E9C062;
}


.editbox .rb-method {
color:#DAD085;
}

.editbox .rb-invalid_deprecated {
color:#FD5FF1;
font-style:italic;
text-decoration:underline;
}
.editbox .rb-invalid_illegal {
background-color:rgba(86, 45, 86, 0.75);
color:#FD5FF1;
}
.editbox .rb-text .source {
background-color:rgba(177, 179, 186, 0.03);
}
.editbox .rb-entity_other_inherited-class {
color:#9B5C2E;
font-style:italic;
}
.editbox .rb-string_quoted .source {
color:#DAEFA3;
}

.editbox .rb-string_regexp .constant_character_escape, .editbox .rb-string_regexp .source_ruby_embedded, .editbox .rb-string_regexp .string_regexp_arbitrary-repitition {
color:#CF7D34;
}
.editbox .rb-string .variable {
color:#8A9A95;
}

.editbox .rb-support_constant {
color:#CF6A4C;
}
.editbox .rb-meta_preprocessor_c {
color:#8996A8;
}
.editbox .rb-meta_preprocessor_c .keyword {
color:#AFC4DB;
}
.editbox .rb-entity_name_class {
text-decoration:underline;
}
.editbox .rb-meta_cast {
color:#676767;
font-style:italic;
}
.editbox .rb-meta_sgml_html .meta_doctype, .editbox .rb-meta_sgml_html .meta_doctype .entity, .editbox .rb-meta_sgml_html .meta_doctype .string, .editbox .rb-meta_xml-processing, .editbox .rb-meta_xml-processing .entity, .editbox .rb-meta_xml-processing .string {
color:#494949;
}
.editbox .rb-meta_tag, .editbox .rb-meta_tag .entity {
color:#89BDFF;
}
.editbox .rb-source .entity_name_tag, .editbox .rb-source .entity_other_attribute-name, .editbox .rb-meta_tag_inline, .editbox .rb-meta_tag_inline .entity {
color:#E0C589;
}
.editbox .rb-entity_name_tag_namespace, .editbox .rb-entity_other_attribute-name_namespace {
color:#E18964;
}
.editbox .rb-meta_selector_css .entity_name_tag {
color:#CDA869;
}
.editbox .rb-meta_selector_css .entity_other_attribute-name_tag_pseudo-class {
color:#8F9D6A;
}
.editbox .rb-meta_selector_css .entity_other_attribute-name_id {
color:#8B98AB;
}
.editbox .rb-meta_selector_css .entity_other_attribute-name_class {
color:#9B703F;
}
.editbox .rb-support_type_property-name_css {
color:#C5AF75;
}
.editbox .rb-meta_property-group .support_constant_property-value_css, .editbox .rb-meta_property-value .support_constant_property-value_css {
color:#F9EE98;
}
.editbox .rb-meta_preprocessor_at-rule .keyword_control_at-rule {
color:#8693A5;
}
.editbox .rb-meta_property-value .support_constant_named-color_css, .editbox .rb-meta_property-value .constant {
color:#DD7B3B;
}
.editbox .rb-meta_constructor_argument_css {
color:#8F9D6A;
}
.editbox .rb-meta_diff, .editbox .rb-meta_diff_header {
background-color:#0E2231;
color:#F8F8F8;
font-style:italic;
}
.editbox .rb-markup_deleted {
background-color:#420E09;
color:#F8F8F8;
}
.editbox .rb-markup_changed {
background-color:#4A410D;
color:#F8F8F8;
}
.editbox .rb-markup_inserted {
background-color:#253B22;
color:#F8F8F8;
}
.editbox .rb-markup_italic {
color:#E9C062;
font-style:italic;
}
.editbox .rb-markup_bold {
color:#E9C062;
font-weight:bold;
}
.editbox .rb-markup_underline {
color:#E18964;
text-decoration:underline;
}
.editbox .rb-markup_quote {
background-color:rgba(254, 224, 156, 0.07);
color:#E1D4B9;
font-style:italic;
}
.editbox .rb-markup_heading, .editbox .rb-markup_heading .entity {
background-color:#632D04;
color:#FEDCC5;
}
.editbox .rb-markup_list {
color:#E1D4B9;
}
.editbox .rb-markup_raw {
background-color:rgba(177, 179, 186, 0.03);
color:#578BB3;
}
.editbox .rb-markup .comment {
color:#F67B37;
font-style:italic;
}
.editbox .rb-meta_separator {
background-color:#242424;
color:#60A633;
}
.editbox .rb-meta_line_entry_logfile, .editbox .rb-meta_line_exit_logfile {
background-color:rgba(238, 238, 238, 0.16);
}
.editbox .rb-meta_line_error_logfile {
background-color:#751012;
}